body {
    margin: 0;
    background-color: #1B1E24;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
}

nav {
    background-color: #121418;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}


/***********Log in ************/

#login main{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
}

#logInData{
    display: flex;
    align-items: center;
    position:fixed;
    top: 55%;
    display: flex;
    flex-direction: column;
    color: white;
    width: 70%;
    min-width: 270px;
    margin: auto;
    background-color:  #343842;
    border-radius: 20px;
    padding: 15px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    gap: 5px;
}

#logInData input {
    font-size: 14px;
    text-align: center;
}

#login input{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0px;
}

#login button{
    background-color: #bf9aff;
    width: 125px;
    color: white;
    font-weight: 200px;
    border-radius: 20px;
    height: 28px;
}


.logInbtn{
    margin-top: 1rem;
    border: none;
}

.popUp {
    display: flex;
    justify-content: center;
}

.continue {
    display: flex;
    flex-direction: column;
    background-color: #343842;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 270px;
    height: 75px;
    position: relative;
    z-index: 999;
    padding-bottom: 10px;
}

.continue h2 {
    font-size: 16px;
    font-weight: 500;
}

.continue button {
    border: none;
}

.notFound{
    visibility: hidden;
}

.register{
    margin-top: 0.5rem;
    border: 0;
}

#newUser{
    padding: 20px;
    border-radius: 20px;
    height: 50%;
    width: 70%;
    position: fixed;
    top: 20%;
    left: 10%;
    background-color: #262627;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

.newUserHide{
visibility: hidden;
}

.loginOpacity{
    opacity: 20%;
}

#newUser input{
    width: 95%;
    border-radius: 8px;
}

#newUser button{
    background-color: #bf9aff;
    width: 125px;
    color: white;
    font-weight: 200px;
    border-radius: 8px;
    height: 28px;
    align-self: center;
    border: none;
}